<footer style="margin: 0!important; background-color: white;" class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">Simon Gazzera, Benjamin Lanfranco, Valentin Ulloa</span>
    </div>
    <p class="p-small">We would love to hear from you <a href="mailto:contact@deporter.com"><strong>contact@deporter.com</strong></a></p>
  
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href=""><img height="40" width="40" style="margin-right: 16px;" src="/images/instagram.png" alt=""></a></li>
    </ul>
  </footer>