<header class="">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="/">Deporter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href='/miPerfil'>Perfil</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <a href='/post/agregarPost'>Agregar post</a>
                    <a href='/users/miPerfil'>Mi perfil</a>
                    <form action="" class="uk-search uk-search-default">
                        <span uk-search-icon></span>
                        <input type="search" class="uk-search-input" placeholder="Buscar...">
                    </form>
                </div>
            </nav>
        </div>
    </section>
</header>
