<header class="">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="/">Deporter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href='/miPerfil'>Perfil</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <a href="/post/agregarPost">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Agregar Post</button>
                    </a>
                    <div>
                      <form class="form-inline my-2 my-lg-0"  method="get" action="/resultados">
                          <input class="form-control mr-sm-2" name="buscador" id="buscador" type="search" placeholder="Buscar">
                        </form>
                    </div>
                   
                  </div>
                </nav>
        </header>