<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <%- include('./partials/headerLogueado') %>

    <main>
        <form>

            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Cambiar foto de perfil</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </form>

                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Nombre</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Nombre">
                  </div>
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Usuario</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nuevo @">
                    </div>
                  </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Nueva Contraseña</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Repetir Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </main>

    <%- include('./partials/footer') %>


</body>

</html>